pyrogram
pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
shortzy
Pillow>=10.0.0
python-dotenv==0.21.1
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
psutil==5.9.4
spotipy
wget
search_engine_parser
qrcode
youtube_search
youtube-search-python==1.4.6
yt-dlp
ytthumb
YoutubeTags
aiofiles
youtube-dl
urllib3>=1.26.0
dnspython==2.3.0
requests
ffmpeg
python-arq==6.0.5
future
pytube
flask
gunicorn==20.1.0
googlesearch-python
python-decouple
python-arq==6.0.5
ujson
httpx==0.13.3
httpx[http2]
telegraph==2.2.0
gTTS
NumPy
glitch_this
opencv-python-headless
GitPython
PyGithub==2.1.1
urllib3>=1.26.0
speedtest==0.0.1 
humanize==4.6.0
heroku3
speedtest-cli
OpenCC==1.1.7
git+https://github.com/AsmSafone/SafoneAPI
safoneapi==1.0.62
pykeyboard
Random-Word-Generator
beautifulsoup4==4.9.3
gpytranslate
googletrans==4.0.0-rc1
gTTS==2.3.1
